extends layout.pug

block content
  section#content
    h2= text
    if hint
      p
        i Hint: #{hint}
    a(href=`/cards/${id}?side=${redirect}`) #{redirect}
    br
    a(href='/cards') Next Card